body {
 background-color: black   
}

body {
 font color: white
}

p {
 color: white
}
p{
align-content: center
}



h3 {
 color: lawngreen
}
h3 {
font-family: serif
}
h3 {
align'left'    
}

header {
width 100%
}
header {
 height: 130px   
}
header {
    
}

nav {    
list-style-type: none   
}

nav { 
 display: inline   
}

nav {
 padding:10px
     
nav {
 font font-size: 20px   
}
    
h1 {
 background-color: white
     
}

